@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: poppins,Arial,sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

p {
  font-size: 16px; }

.header {
  background-color: #212529; }
  .header .navbar .navbar-brand {
    width: 88px; }
  .header .navbar .btn-primary {
    margin-left: auto;
    background: -webkit-linear-gradient(315deg, #0088cc 0%, #0169fe 80%) !important;
    background: -o-linear-gradient(315deg, #0088cc 0%, #0169fe 80%) !important;
    background: linear-gradient(135deg, #0088cc 0%, #0169fe 80%) !important;
    border-radius: 34px;
    border: 0;
    padding: 10px 20px;
    display: none; }
  .header .navbar .barger_button {
    margin-left: 10px; }
  .header .navbar .collapse .navbar-nav {
    margin: 0 auto; }
    .header .navbar .collapse .navbar-nav .nav-item .nav-link {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      text-transform: capitalize;
      position: relative;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 5px;
      margin: 0 10px;
      margin-bottom: 8px; }
      .header .navbar .collapse .navbar-nav .nav-item .nav-link::before {
        position: absolute;
        content: "";
        bottom: 0;
        right: 0;
        width: 0%;
        height: 3px;
        background: #08c;
        opacity: 0;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .header .navbar .collapse .navbar-nav .nav-item .nav-link.active, .header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
        color: #fff; }
        .header .navbar .collapse .navbar-nav .nav-item .nav-link.active::before, .header .navbar .collapse .navbar-nav .nav-item .nav-link:hover::before {
          width: 100%;
          right: auto;
          left: 0;
          opacity: 1; }
    .header .navbar .collapse .navbar-nav .nav-item ::after {
      content: "";
      display: none; }
